@model IEnumerable<Domain.Models.User>

@{
    ViewData["Title"] = "Members";
}


    <div class="user-list">
        @foreach (var user in Model)
        {
            <div class="user-card">
                <h5>@user.FirstName @user.LastName</h5>
                <p>@user.Email</p>
                <p>@user.Jobtitle</p>
                <p>@user.PhoneNumber</p>
                @if (!string.IsNullOrEmpty(user.Image))
                {
                    <img src="@user.Image" alt="Profile image of @user.FirstName" />
                }
                else
                {
                    <img src="~/images/profiles/user-template.svg" alt="Default profile image" />
                }
            </div>
        }
    </div>
